/* stylelint-disable unit-disallowed-list */
body {
  font-family: "Source Sans Pro", sans-serif;
  margin: 24px auto;
}

section {
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(4, 240px);
  justify-content: center;
}

div {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

p,
h5 {
  margin: 0;
}

 
 



/* body background-color: #c9d5e2; */

/* zielony: #B3D16D; */

/* bordowy: #862843; */

/* wszystkie odległości - wielokrotności 4px */

/* button hover - background opacity 50%; */

/* button hover - background opacity 75%; */