@use "sass:map";
@use "../abstracts" as *;

.content {
  border: solid thin map.get($velvets, "1");
  display: flex;
  padding: 3rem 1rem calc(#{$footer-img} - 2rem);
  position: relative;

  &__main {
    box-sizing: border-box;
    padding-right: 1rem;
    width: calc(100% - #{$sidebar-width});

    p:nth-child(odd) {
      color: map.get($violets, "4");
    }
  }

  &__img {
    bottom: -2rem;
    height: $footer-img;
    position: absolute;
    right: 15rem;
    z-index: 2;
  }

  &::after {
    background-image: url("../../imgs/eye-test.gif");
    content: "";
    opacity: 0;
    transition: all ease-in-out 1s;
  }
}
