@use 'sass:map';
@use '../abstracts' as *;

.sidebar {
  width: $sidebar-width;

  &__header {
    font-size: 1.15rem;
    font-weight: bold;
    text-align: center;
  }

  &__paragraph {
    font-size: 0.75rem;
    text-align: justify;

    &--center {
      @extend .sidebar__paragraph;

      background-color: map.get($yellows, '1');
      padding: 0.25rem 0.5rem;
    }
  }
}
