@use "../abstracts" as *;

.color-palette {
  margin-top: 2rem;

  &__row {
    display: flex;
    justify-content: center;
  }
  @each $row_number, $color in $colors {
    .color-palette__row {
      &:nth-child(#{$row_number}) {
        @each $span_number, $hue in $color {
          span {
            &:nth-child(#{$span_number}) {
              background-color: $hue;
            }
          }
        }
      }

      span {
        height: 2rem;
        width: 2rem;
      }
    }
  }
}
